[submodule "Dublin-Bus-App"]
	path = Dublin-Bus-App
	url = https://github.com/AdamMcCarthyCompSci/Dublin-Bus-App.git
[submodule "restoverflow"]
	path = restoverflow
	url = https://gitlab.com/comp30220/2021/restoverflow
[submodule "DublinBikes"]
	path = DublinBikes
	url = https://github.com/MichelleKyne/DublinBikes.git
